<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>About</title>
</head>

<body>

    <div class="wrapper">
        <div class="row">
            <div class="link1"><a href="index">My Art</a></div>
        </div>

        
        
        <div id="about">
            <h2>About</h2>
            <div id="about-img"><img src= "{{ url_for('static', filename='img/unparrying_vena_dorsalis_clitoridis_profunda.jpg') }}" alt=""></div>

            <p>
                Welcome to my unique corner of the web where I transform stunning NASA-captured images into captivating ASCII block art. Take a journey through space like never before as I bring the cosmos to life through the beauty of text and characters. 
            </p>
            <p>
                My website harnesses the power of technology to convert awe-inspiring astronomical photographs into creative ASCII representations. It's a fusion of art and science that invites you to see the universe from a different perspective, one character at a time. 
            </p>
            <p>
                Whether you're a space enthusiast, an art lover, or simply curious, my webpage offers a visual feast that bridges the worlds of science and creativity. You can explore the wonders of the universe in a whole new light, all while appreciating the intricate details and the simplicity of ASCII art. 
            </p>

        </div>




    </div>
    <footer>
        <p>Created by <em><span> Hardique </span></em></p>
    </footer>
    
</body>

</html>
